{# je utilise l'héritage de twig pour
restituer le contenu du bloc parent (base.html.twig #}
{% extends "admin/admin.base.html.twig" %}

{% block metatitle %}{{ parent()}}Accueil{% endblock %}

{% block main %}
    <table>
        <thead>
        <tr>
            <th colspan="100%">Liste articles</th>
        </tr>
        </thead>
        <tbody>
            {% for article in articles %}
        <tr>
                <td>{{ article.title }}</td>
                <td><button type="button" class="btn btn-primary">
                        <a class="table-link" href="{{ path("admin_article_update",{"id" : article.id}) }}">MODIFIER</a>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">
                        <a class="table-link" href="{{ path("admin_article_delete",{"id" : article.id}) }}">Supprimer</a>
                    </button>
                </td>
        </tr>
           {% endfor%}
        </tbody>
    </table>
    <p class="">
        <a class="lien" href="{{ path("admin_article_create") }}">Ajouter un article ></a>
    </p>
{% endblock main %}